@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Noto Sans TC', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    @apply relative bg-stone-50;
}
#root {
    @apply p-4;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
    @apply border-2 bg-stone-200;
}
/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-stone-300;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* @apply bg-rose-700 */
}

.spin {
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
